<div class="container-fluid rounded back">
  <div class="row px-5">
    <div class="col-sm-6">
      <div>
        <h3 class="text-white">Get a quote</h3>
        <p class="text-secondary">Fill up the form and our Team will get back to you within in 24 hours</p>
      </div>
      <div class="links" id="bordering"> <a href="#" class="btn rounded text-white p-3"><i
            class="fa fa-phone icon text-primary pr-3"></i>+0123 4567 8910</a> <a href="#"
          class="btn rounded text-white p-3"><i class="fa fa-envelope icon text-primary pr-3"></i>hello@flowbase.com</a>
        <a href="#" class="btn rounded text-white p-3"><i class="fa fa-map-marker icon text-primary pr-3"></i>102 street
          2714 Don</a> </div>
      <div class="pt-lg-4 d-flex flex-row justify-content-start">
        <div class="pad-icon" style="    padding-top: 50px;
        padding-left: 20px"> <a style="    text-decoration: none;
    margin-right: 40px" class="fa fa-facebook text-white" href="#"></a> </div>
        <div class="pad-icon" style="    padding-top: 50px;
        padding-left: 20px"> <a style="    text-decoration: none;
    margin-right: 40px" class="fa fa-twitter text-white" href="#"></a> </div>
        <div class="pad-icon" style="    padding-top: 50px;
        padding-left: 20px"> <a style="    text-decoration: none;
    margin-right: 40px" class="fa fa-instagram text-white" href="#"></a> </div>
      </div>
    </div>
    <div class="col-sm-6 pad">
      <form class="rounded msg-form" style="background-color: white;padding: 20px;">
        <div class="form-group"> <label for="name" class="h6">Your Name</label>
          <div class="input-group border rounded">
            <div class="input-group-addon px-2 pt-1">
              <p class="fa fa-user-o text-primary"></p>
            </div> <input type="text" class="form-control border-0">
          </div>
        </div>
        <div class="form-group"> <label for="name" class="h6">Email</label>
          <div class="input-group border rounded">
            <div class="input-group-addon px-2 pt-1"> <i class="fa fa-envelope text-primary"></i> </div> <input
              type="text" class="form-control border-0">
          </div>
        </div>
        <div class="form-group"> <label for="msg" class="h6">Message</label> <textarea name="message" id="msgus"
            cols="10" rows="5" class="form-control bg-light" placeholder="Message"></textarea> </div>
        <div class="form-group d-flex justify-content-end"> <input type="submit" class="btn btn-primary text-white"
            value="send message"> </div>
      </form>
    </div>
  </div>
</div>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
  body {
    background-color: #9fc4fb
  }

  .back{
    background-color: #010449
  }

  .input-group input:focus {
    border: 1px solid blue
  }

  .pad-icon a:active {
    height: 30px;
    width: 30px;
    background-color: #0080ff;
    border-radius: 100%
  }

  .links {
    padding-top: 50px;
    width: 50%
  }

  #bordering a:active {
    border: 1px solid #0080ff
  }

  @media(min-width:568px) {
    .container-fluid {
      margin: 100px 30px;
      width: 96%;
      padding-top: 50px;
      padding-bottom: 50px
    }
  }

  @media(max-width:567px) {
    .container-fluid {
      margin: 10px 10px;
      width: 94%;
      padding-top: 20px;
      padding-bottom: 20px
    }

    .pad {
      padding-top: 20px
    }
    
  }
  .navbar{
    height: 70px;
  }
  .card {
    border-radius: 10px;
    border: none;
    background-color: #FFB74D;
    padding-bottom: 0px;
    padding-top: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
  }
</style>